<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Abhaya+Libre&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="parent-wrapper">
          <div class="subscribe-wrapper">
            <h4>What book are you reading today?</h4>
            <form action="/data" method = "POST">
                <input type = "text" name = "bookTitle" class="subscribe-input" placeholder="Book Title"/>
                <input type = "submit" value = "Submit" class="submit-btn"/>
            </form>
            
          </div>
        </div>



        <div class="playlist">
            {{embed}}
            {{description}}
        </div>
    </body>
</html>
