body {
  background-color: #ededde;
  font-family: "Abhaya Libre";
}

::-webkit-input-placeholder {
  font-family: "serif";
  color: #d4d4d4;
}

.parent-wrapper {
  position: relative;
  width: 700px;
  top: 40px;
  height: 300px;
  margin: 40px auto 0;
  /*background-image: url('http://www.imgbase.info/images/safe-wallpapers/digital_art/1_miscellaneous_digital_art/41750_1_miscellaneous_digital_art_simple_dark_shapes.jpg');*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -600%;
  background-color: #e3e5cd;
  border-radius: 4px;
  color: #524842;
  /*box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);*/
}

.close-btn {
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}

.subscribe-wrapper {
  position: absolute;
  left: -10px;
  right: -10px;
  top: 20px;
  width: 600px;
  height: 240px;
  padding: 30px;
  /*background-image: url('https://i.imgur.com/MRjF1PL.png?1');*/
  background-position-x: 272%;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-color: #FFF;
  border-radius: 4px;
  color: #4d3223;
  /*box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);*/
}

.subscribe-wrapper:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 71px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ad8967;
}

.subscribe-wrapper h4 {
  text-align: center;
  font-size: 40px;
  font-family: "Playfair Display";
  /*font-weight: bold;*/
  /*letter-spacing: 3px;*/
  /*line-height: 28px;*/

}

.subscribe-wrapper input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 65%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #cdb38e;
}

.subscribe-wrapper .submit-btn {
  /*position: absolute;*/
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #d1c19e;
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 20px;
  /*font-weight: bold;*/
  font-family: "Abhaya Libre";
  /*letter-spacing: 2px;*/
  right: -10px;
  bottom: 20px;
  width: 200px;
  cursor: pointer;
  transition: all .25s ease;
  /*box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);*/
}

.subscribe-wrapper .submit-btn:hover {
  background-color: #bda78f;
}

.playlist {
  position: relative;
  top: 100px;
  width: 50%;
  margin: auto;
}